body {
	background-color: #f0f2f5;
	font-family: roboto, sans-serif;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

main {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 80vh;
	width: 70vw;
	margin-left: auto;
	margin-right: auto;
}

.greeting {
	color: #333333;
	text-align: left;
	width: 50%;
	padding: 2.5rem;
}

.logo {
	color: #0967ff;
	font-family: roboto, sans-serif;
	font-size: 3em;
}

.logo-desc {
	margin-top: -1.5rem;
	font-size: 1.5rem;
}

.form {
	width: 50%;
}

.login-card {
	display: flex;
	flex-direction: column;
	max-width: 80%;
	background-color: #ffffff;
	box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
	padding: 1rem;
	border-radius: 8px;
	margin-left: auto;
	margin-right: auto;
}

input {
	margin-bottom: 1rem;
	padding: 0.75rem;
	font-size: 1rem;
	border: 1px solid #ccc;
	border-radius: 4px;
}

button {
	margin-bottom: 0.75rem;
	outline: none;
	border: none;
	transition: all 0.2s ease;
}

.login-btn {
	background-color: #0967ff;
	color: #ffffff;
	padding: 1rem;
	font-size: 1rem;
	font-weight: bold;
	border-radius: 8px;
	position: relative;
	margin-bottom: 0.75rem;
}

.login-btn:hover {
	background-color: #5294ff;
	cursor: pointer;
}

.forgot-btn {
	position: relative;
	background-color: #ffff;
	color: #0967ff;
	font-weight: 600;
	margin-bottom: 2.5rem;
}

.forgot-btn:hover {
	cursor: pointer;
}

.reg-btn:hover {
	background-color: #70b460;
	cursor: pointer;
}

.forgot-btn::after {
	content: '';
	position: absolute;
	bottom: -1rem;
	display: flex;
	height: 1px;
	width: 100%;
	background: #ccc;
	left: 50%;
	transform: translateX(-50%);
}

.reg-btn {
	background-color: #43b72a;
	color: white;
	font-size: 1rem;
	padding-right: 1rem;
	padding-left: 1rem;
	padding-top: 0.75rem;
	padding-bottom: 0.75rem;
	max-width: 14rem;
	align-self: center;
	border-radius: 6px;
	font-weight: 600;
}

footer {
	text-align: left;
	width: 100vw;
	height: 30vh;
	background-color: #fff;
}

.footer-content {
	width: 70vw;
	margin-right: auto;
	margin-left: auto;
	padding-top: 1rem;
}

.languages {
	display: flex;
	gap: 10px;
	font-size: 0.85rem;
}

.languages button {
	background: none;
	color: gray;
}

footer hr {
	margin-top: -0.2rem;
	border: none;
	height: 1px;
	background-color: #ccc;
}

.commands button {
	background: none;
	font-size: 0.75rem;
	color: gray;
}

.copy {
	color: gray;
	font-size: 0.75rem;
}
